body{
    font-family:sans-serif;
    margin:0px;
}
.half-width{
    float:left;
    padding-left:2%;
    margin-left: 6%;
    width:40%;
    
}
.half-width img{
    width:400px;
    float:left;
}
.tomato-heightlight{
    color:mediumvioletred;
    font-size: 40px;
}
section{
    width:1000px;
    float:left;
    padding: 100px;

}
.first-div h2 h3 p{
    padding-top: 50px;
    padding-left: 20px;
    margin: 0px;
}
.top-banner{
    background-image: url("image/header-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.first-div h2{
    font-size: 30px;
    padding-top: 8%;
    
}
.first-div h3{
    font-size: 30px;
}
.first-div p{
    font-size: 15px;
    padding-bottom: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(180deg, deeppink, crimson);
    border-radius: 6px;
    color: white;
    padding: 10px 20px;
}
.half-width img{
    width:400px;
    padding-right: 50px;
}
.biography-bg{
    background-image: url("image/biography-bg.png");
    background-repeat:no-repeat;
    padding-right: 180px;
}
.latest-work{
    background-image: url("image/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.work-img {
    float:left;
    width:25%;
    margin:20px;
    padding-left: 20px;
    padding-top: 15px;
}
.work-img img{
    width:120%;
}
.clinet-bg h1{
    text-align: center;
}
.clinet-bg h3{
    text-align: center;
}
.clinet-bg p{
    text-align: center;
}
.founder{
    color:gray;
}
.button{
    background-image: linear-gradient(180deg, deeppink, crimson);
    color: white;
    height: 200px;
    width: 700px;
    align-content: center;
    margin-left: 200px;
    border-radius: 10px;
}
.clinet-bg{
    background-image: url("image/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 110%;
}